body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: 50px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

#logo {
  text-decoration: none;
}

.logo_black {
  color: black;
  padding-left: 3px;
}

.logo_green {
  color: green;
  padding-left: 3px;
}

.logo_green_first {
  color: green;
  padding-left: 10px;
}

.logo_white {
  color: #ffffff;
  padding-left: 3px;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.sign_in {
  width: 78px;
  height: 40px;
  border: none;
  font-size: 15px;
}

#search {
  padding-top: 32px;
  margin-left: 20px;
}

.search {
  width: 99%;
  border: none;
  outline: none;
  border-bottom: 1.5px solid #757575;
}

.gop {
    width: 100%;
    height: 1000px;
    background: url(/IMG/card_1.1.png);
}